    body {
        background-color: antiquewhite;
        margin: 0;
        font-family: fantasy;
    }
    
    header {
        width: 100%;
        height: 70px;
        display: block;
        box-shadow: 4px 4px 8px rgba(12, 10, 10, 0.4);
        border-bottom: solid tomato 3px;
        font-size: 15px;
        background-image: linear-gradient(45deg, black, transparent);
    }
    a{
        color: black;
    }
    
    header h1 {
        float: left;
    }
    
    header ul {
        list-style: none;
        float: right;
    }
    
    .container {
        color: black;
        width: 80%;
        margin: auto;
    }
    
    header li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 17px;
        padding: 16px;
    }
    
    header ul li a {
        text-decoration: none;
    }
    
    .text-calistenia {
        color: honeydew;
    -webkit-text-stroke: 1px black;
    text-align: center;
    }
    
    .imagem-mulher {
        background-image: url("./Imagens/Mulher-treinando.jpg");
        background-size: cover;
        background-position: right;
        height: 436px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 27%;
    }
    
    .h1-treinos {
        font-size: 35px;
    font-family: fantasy;
    text-align: center;
    color: #f0f8ffa8;
    -webkit-text-stroke: 2px black;
    }
    
    .h2-mulher {
        margin-top: 1%;
        text-align: center;
        font-size: 34px;
        margin-right: 53%;
        color: #ff0052a1
    }
    
    .treinamentos-mulheres {
        padding-left: 14%;
        font-size: 21px;
        color: whitesmoke;
    }
    
    .h2-mulher2 {
        text-align: center;
        font-size: 34px;
        color: #ff0052a1
    }
    
    .treinamentos-mulheres2 {
        padding-left: 14%;
        font-size: 21px;
        color: whitesmoke;
    }
    
    .container-treinamento-mulheres {
        margin: 5%;
    }
    .imagem-homem{
        background-image: url("./Imagens/homem-treinando3.png");
        background-size: cover;
        background-position: right;
        height: 436px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 27%;

    }
    .container-treinamento-homens{
        margin:5%;
    }
    .h2-homem2{
        text-align: center;
        font-size: 34px;
        color: blue
    }
    .treinamentos-homem {
        padding-left: 14%;
        font-size: 21px;
        color: whitesmoke;
    }
    .treinamentos-homem2 {
        padding-left: 14%;
        font-size: 21px;
        color: whitesmoke;
    }
.video-motivation{
    
}